<h1>add</h1>

{% extends "base.html" %}

{% block title %} WOLF {% endblock %}

{% block body %}
<h1>Respond to WOLF</h1>
<div>
    <h2> Respond </h2>
        <form  method = "POST" action="">
            {{ form.hidden_tag() }}
            <div class ="form-group">
                {{ form.name.label }}
                {{ form.name (size=20)}}
            </div>
            <div class ="form-group">
                {{ form.answer1.label }}
                {{ form.answer1 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer2.label }}
                {{ form.answer2 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer3.label }}
                {{ form.answer3 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer4.label }}
                {{ form.answer4 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer5.label }}
                {{ form.answer5 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer6.label }}
                {{ form.answer6 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer7.label }}
                {{ form.answer7 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer8.label }}
                {{ form.answer8 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer9.label }}
                {{ form.answer9 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer10.label }}
                {{ form.answer10 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer11.label }}
                {{ form.answer11(size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer12.label }}
                {{ form.answer12 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.answer13.label }}
                {{ form.answer13 (size=5)}}
            </div>
            <div class ="form-group">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}